<div class="card mb-4">

    {% if lesson.filename %}
    <img src="{{ vich_uploader_asset(lesson, 'imageFile')| imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto;">
    {% else %}
        <img src="{{ 'assets/image/default.jpg'| imagine_filter('thumb') }}" alt="card-img-top" style="width: 100%; height: auto;">
    {% endif %}

    <div class="card-body">

        <h5 class="card-title">
            <a href="{{ path('lesson.show', {id: lesson.id, slug: lesson.slug}) }}">
                {{ lesson.title }}
            </a>
        </h5>
        <p class="card-text primary">
            {{ lesson.grade }} : {{ lesson.type }}
        </p>
        <p class="card-text">{{ lesson.content }}</p>
    </div>
</div>
